.categories_list {
  margin-top: 100px;
}

.container {
  margin-top: 150px;
}

.category {
  background: #8a868d;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.5s;
  width: 100%;
  text-align: center;
}

.category h2 {
  padding: 40px;
  color: white;
}

.category h2:hover {
  color: black;
}

.category:hover {
  background: #c5c0ca;
}

.categories_grid {
  display:grid;
  grid-column-gap: 10px;
  grid-template-columns: 50% 50%;
  
}

@media(max-width: 800px) {
  .categories_grid {
    display: block;
  }

  .category {
    text-align: left;
    width: 100%;
  }
}

