.search_container {
  width: 100vw;
  background: black;
  padding: 30px;
}

.my_slideshow {
  height: 50vh;
  display: flex;
  width: 100vw;
  padding: 50px;
  background: gray;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
  text-align: center;
  cursor: pointer;
}

.my_slideshow:hover {
  background: #3e3e3e;
}


.my_slideshow h1 {
  color: white;
  animation: 3s anime ease;
  transition: 1s;
  animation-fill-mode: forwards; 
}

@keyframes anime {
  0% {opacity: 0;}
  100% {opacity: 1}
}

@media(max-width: 700px) {
  #fh5co-logo {
    display: none;
  }
  .my_slideshow {
    height: 70vh;
  }
}

.form-control {
  font-size: 20px;
}

.form-control:focus {
  border: 1px solid #3e3e3e !important;
}

.s {
  border: 1px solid white !important;
  color: white;
  width: 100%;
  background: transparent;
  padding: 8px;
  font-size: 25px;
  border-radius: 25px;
  font-size: 20px;
  outline: none;
}

.s:hover {
  border: 1px solid white !important;
}


s:focus {
  border: 1px solid white !important;
}

.section-b {
  width: 80vw;
  margin: auto;
  display: flex;
  text-align: center;
}

.box {
  flex: 1;
  text-align: center;
}

@media(max-width: 850px) {
  .section-b {
      display: block;
  }
  .a {
    border-bottom: 1px solid #3e3e3e;
  }
}