.stars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 500px;
    margin: auto;
}

@media(max-width: 500px) {
    .stars {
        grid-template-columns: 1fr 1fr 1fr;
        width: 300px;
        text-align: center;  
    }
}

#comments_list {
    list-style-type: none;
    width: 80vw;
}

#comments_list li {
    margin-left: -40px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
}


#rev {
    padding-top: 20px;
    background: #3e3e3e;
}

#rev h1 {
    color: white;
}
