.test {
  background: #005073;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.5s;
}

.test {
  padding: 40px;
  color: black;
}

.test:hover {
  color: white;
}

.test:hover {
  background: #107dac;
}

.updated {
  background: #8a868d;
  color: white;
}

.updated:hover {
  background: #c5c0ca;
  color: black;
}

.tests_header {
  background: #3e3e3e;
  padding: 100px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.tests_header h1 {
  color: white;
  transition: 0.5s;
}

.tests_header:hover {
  background: gray;
}
